.grey1 {
    padding: 15px;
    background: #656565;
}

.grey2 {
    padding: 15px;
    background: #ebebeb;
}

.grey3 {
    padding: 15px;
    background: #CEECF5;
}

.blue1 {
    padding: 15px;
    background: #A9E2F3;
}

.blue2 {
    padding: 15px;
    background: #81DAF5;
}
.blue3 {
    padding: 15px;
    background: #d0f2fa;
}
