[viewBag]
snippetCode = "pb"
snippetName = "Afbeeldingen Balk"

snippetProperties[i1][title] = "afbeelding1"
snippetProperties[i1][type] = "string"
snippetProperties[i1][default] = ""
snippetProperties[i1][options][] = ""
snippetProperties[il1][title] = "afbeelding1_link"
snippetProperties[il1][type] = "string"
snippetProperties[il1][default] = ""
snippetProperties[il1][options][] = ""
snippetProperties[iltl][title] = "afbeelding1_titel"
snippetProperties[iltl][type] = "string"
snippetProperties[iltl][default] = ""
snippetProperties[iltl][options][] = ""
snippetProperties[iltll][title] = "afbeelding1_titel_link"
snippetProperties[iltll][type] = "string"
snippetProperties[iltll][default] = ""
snippetProperties[iltll][options][] = ""
snippetProperties[iltx][title] = "afbeelding1_tekst"
snippetProperties[iltx][type] = "string"
snippetProperties[iltx][default] = ""
snippetProperties[iltx][options][] = ""

snippetProperties[i2][title] = "afbeelding2"
snippetProperties[i2][type] = "string"
snippetProperties[i2][default] = ""
snippetProperties[i2][options][] = ""
snippetProperties[il2][title] = "afbeelding2_link"
snippetProperties[il2][type] = "string"
snippetProperties[il2][default] = ""
snippetProperties[il2][options][] = ""
snippetProperties[i2tl][title] = "afbeelding2_titel"
snippetProperties[i2tl][type] = "string"
snippetProperties[i2tl][default] = ""
snippetProperties[i2tl][options][] = ""
snippetProperties[i2tll][title] = "afbeelding2_titel_link"
snippetProperties[i2tll][type] = "string"
snippetProperties[i2tll][default] = ""
snippetProperties[i2tll][options][] = ""
snippetProperties[i2tx][title] = "afbeelding2_tekst"
snippetProperties[i2tx][type] = "string"
snippetProperties[i2tx][default] = ""
snippetProperties[i2tx][options][] = ""

snippetProperties[i3][title] = "afbeelding3"
snippetProperties[i3][type] = "string"
snippetProperties[i3][default] = ""
snippetProperties[i3][options][] = ""
snippetProperties[il3][title] = "afbeelding3_link"
snippetProperties[il3][type] = "string"
snippetProperties[il3][default] = ""
snippetProperties[il3][options][] = ""
snippetProperties[i3tll][title] = "afbeelding3_titel_link"
snippetProperties[i3tll][type] = "string"
snippetProperties[i3tll][default] = ""
snippetProperties[i3tll][options][] = ""
snippetProperties[i3tl][title] = "afbeelding2_titel"
snippetProperties[i3tl][type] = "string"
snippetProperties[i3tl][default] = ""
snippetProperties[i3tl][options][] = ""
snippetProperties[i3tx][title] = "afbeelding3_tekst"
snippetProperties[i3tx][type] = "string"
snippetProperties[i3tx][default] = ""
snippetProperties[i3tx][options][] = ""

snippetProperties[i4][title] = "afbeelding4"
snippetProperties[i4][type] = "string"
snippetProperties[i4][default] = ""
snippetProperties[i4][options][] = ""
snippetProperties[il4][title] = "afbeelding4_link"
snippetProperties[il4][type] = "string"
snippetProperties[il4][default] = ""
snippetProperties[il4][options][] = ""
snippetProperties[i4tl][title] = "afbeelding4_titel"
snippetProperties[i4tl][type] = "string"
snippetProperties[i4tl][default] = ""
snippetProperties[i4tl][options][] = ""
snippetProperties[i4tll][title] = "afbeelding2_titel_link"
snippetProperties[i2tll][type] = "string"
snippetProperties[i2tll][default] = ""
snippetProperties[i2tll][options][] = ""
snippetProperties[i4tx][title] = "afbeelding4_tekst"
snippetProperties[i4tx][type] = "string"
snippetProperties[i4tx][default] = ""
snippetProperties[i4tx][options][] = ""

snippetProperties[i5][title] = "afbeelding5"
snippetProperties[i5][type] = "string"
snippetProperties[i5][default] = ""
snippetProperties[i5][options][] = ""
snippetProperties[il5][title] = "afbeelding5_link"
snippetProperties[il5][type] = "string"
snippetProperties[il5][default] = ""
snippetProperties[il5][options][] = ""
snippetProperties[i5tl][title] = "afbeelding5_titel"
snippetProperties[i5tl][type] = "string"
snippetProperties[i5tl][default] = ""
snippetProperties[i5tl][options][] = ""
snippetProperties[i5tll][title] = "afbeelding5_titel_link"
snippetProperties[i5tll][type] = "string"
snippetProperties[i5tll][default] = ""
snippetProperties[i5tll][options][] = ""
snippetProperties[i5tx][title] = "afbeelding5_tekst"
snippetProperties[i5tx][type] = "string"
snippetProperties[i5tx][default] = ""
snippetProperties[i5tx][options][] = ""

snippetProperties[i6][title] = "afbeelding6"
snippetProperties[i6][type] = "string"
snippetProperties[i6][default] = ""
snippetProperties[i6][options][] = ""
snippetProperties[il6][title] = "afbeelding6_link"
snippetProperties[il6][type] = "string"
snippetProperties[il6][default] = ""
snippetProperties[il6][options][] = ""
snippetProperties[i6tl][title] = "afbeelding6_titel"
snippetProperties[i6tl][type] = "string"
snippetProperties[i6tl][default] = ""
snippetProperties[i6tl][options][] = ""
snippetProperties[i6tll][title] = "afbeelding6_titel_link"
snippetProperties[i6tll][type] = "string"
snippetProperties[i6tll][default] = ""
snippetProperties[i6tll][options][] = ""
snippetProperties[i6tx][title] = "afbeelding6_tekst"
snippetProperties[i6tx][type] = "string"
snippetProperties[i6tx][default] = ""
snippetProperties[i6tx][options][] = ""
==
<div class="grid-x grid-padding-x small-up-2 medium-up-6">
    {%set images = [i1, i2, i3, i4, i5, i6] %}
    {%set links = [il1, il2, il3, il4, il5, il6] %}
    {%set titles = [iltl, i2tl, i3tl, i4tl, i5tl, i6tl] %}
    {%set title_links = [iltll, i2tll, i3tll, i4tll, i5tll, i6tll] %}
    {%set text = [iltx, i2tx, i3tx, i4tx, i5tx, i6tx] %}
    {% for key,i in images if i is not empty %}
    <div class="cell">
        {% if links[key] is not empty %}
        <a class="thumbnail" target="_blank" href="{{links[key]}}"><img src="{{i}}"></a>
        {% else %}
        <img class="thumbnail" src="{{i}}">
        {% endif %}
        {% if title_links[key] is not empty %}
        <a class="image-link" target="_blank" href="{{title_links[key]}}"><span class="image-title text-center">{{titles[key]}}</span></a>
        {% else %}
        <span class="image-title text-center">{{titles[key]}}</span>
        {% endif %}
        <p class="image-text">{{text[key]}}</p>
    </div>
    {% endfor %}
</div>