[viewBag]
snippetCode = "tp"
snippetName = "Tooltip"
snippetProperties[txt][title] = "tekst"
snippetProperties[txt][type] = "string"
snippetProperties[txt][default] = ""
snippetProperties[txt][options][] = ""
snippetProperties[content][title] = "inhoud"
snippetProperties[content][type] = "string"
snippetProperties[content][default] = ""
snippetProperties[content][options][] = ""
==
<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" data-position="top" data-alignment="center" title="{{content}}">{{txt}}</span>